@using Microsoft.AspNetCore.Identity
@using VseVeshi.ru.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VseVeshi.ru</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VseVeshi.ru.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        if (ViewData["Title"].ToString() != "Home page" && ViewData["Title"].ToString() != "О сервисе")
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-light mb-3">
                    <div class="container">
                        <a class="navbar-brand catalog-brand-size" asp-area="" asp-page="/Index">
                            <img src="~/Images/brandBlack.svg">
                        </a>
                        <div class="d-sm-inline-flex justify-content-between">
                            <form class="d-flex searchShadow" role="search">
                                <input class="form-control catalog-search-left py-2" data-id="search_catalog-input" type="search" placeholder="Хочу арендовать" aria-label="Search">
                                <button class="p-1 bg-white catalog-search-right" data-id="search_catalog-btn" type="submit"><img class="catalogFind" src="~/Images/catalogFind.svg"></button>
                            </form>
                        </div>
                        <div>
                            <a class="normal-link" asp-area="" asp-page="/Cart">
                                <img src="~/Images/cart.svg">
                                <span>
                                    Корзина
                                </span>
                            </a>
                        </div>
                        <div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="menu-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="menu">
                                    <div class="inmenu-btn active">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <h3 class="mx-5 mt-2 mb-3">Меню</h3>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link active text-green" aria-current="page" href="#">Главная</a>
                                        </li>
                                        <li class="nav-item text-green">
                                            <a class="nav-link text-green" href="#">Каталог</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-green" href="#">О сервисе</a>
                                        </li>
                                        @{
                                            var user = await UserManager.GetUserAsync(User);
                                        }
                                        @if (user != null && await UserManager.IsInRoleAsync(user, "admin"))
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-green" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Выпадающий список для админа
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item text-green" href="./Edit">Редактировать</a></li>
                                                    <li><a class="dropdown-item text-green" href="./Orders">Заказы</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item text-green" href="#">Что - нибудь ещё</a></li>
                                                </ul>
                                            </li>
                                        }
                                        <li class="nav-item">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                                <button type="submit" class="btn normal-btn btn-link text-red">Выход</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a asp-area="Identity" asp-page="/Account/Login">
                                    <button class="enter-btn-container d-flex justify-content-center align-items-center border-0">
                                        <span class="enter-btn">
                                            Войти
                                        </span>
                                    </button>
                                </a>
                            }
                        </div>
                    </div>
                </nav>
                <div class="container d-flex justify-content-evenly background-catalog">
                    <div>
                        <span>
                            Медицина
                        </span>
                    </div>
                    <div>
                        <span>
                            Смокинг
                        </span>
                    </div>
                    <div>
                        <span>
                            Платья
                        </span>
                    </div>
                    <div>
                        <span>
                            Туризм
                        </span>
                    </div>
                    <div>
                        <span>
                            Для отдыха
                        </span>
                    </div>
                    <div>
                        <span>
                            Для мероприятий
                        </span>
                    </div>
                    <div>
                        <span>
                            Ещё
                        </span>
                    </div>

                </div>
            </header>
        }
    }
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footerc text-light">
        <div class="mt-2 innerFooter pt-5" style="height: 315px;">
            <div class="container p-0">
                <div class="d-flex justify-content-evenly">
                    <div>
                        <table>
                            @* Арендаторам *@
                            <tr>
                                <td class="footerColName">
                                    Арендаторам
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    О сервисе
                                </td>
                            </tr>
                         </table>
                    </div>
                    <div>
                        <table>
                            @* О компании *@
                            <tr>
                                <td>
                                    О компании
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Документы
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Контакты
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    Категории
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Медицина
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Смокинг
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Платья туризм
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Для отдыха
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Для мероприятий
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4 pt-5">
                    &copy; 2025 - ВсеВещи.ру - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </div>  
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>