@page
@model ВсеВещи.ру.Pages.aboutUsModel
@{
    ViewData["Title"] = "О сервисе";
}
<header>
    <nav class="navbar container mt-4">
        <a asp-page="/Index" class="navbar-brand">
            <img src="Images/brandBlack.svg">
        </a>
    </nav>
</header>
<main class="container px-5 mt-5">
    <div>
        <h1 class="aboutUs-zag">
            ВсеВещи.ру — это сервис аренды вещей, где можно онлайн взять вещи напрокат.
        </h1>
        <div class="aboutUs-str">
            Помогаем владельцам вещей и арендаторам находить друг друга и совершать
            выгодные и безопасные сделки онлайн.
        </div>
        <div class="aboutUs-str">
            Принимаем оплату картой на сайте у арендатора до сделки и переводим её
            владельцу вещи после завершения.
        </div>
        <div class="aboutUs-str">
            Отвечаем за взаимодействие участников сделки: звонить или приезжать «просто
            посмотреть» не нужно. Все договоренности устанавливаются онлайн на
            ВсеВещи.ру.
        </div>
        <div class="aboutUs-str">
            Гарантируем юридическую безопасность сделок благодаря электронному
            документообороту и разрешаем спорные ситуации на правах независимого
            арбитра.
        </div>
        <div class="aboutUs-fot">
            Лучше, чем прокат. Больше, чем доска объявлений.
            </div>
    </div>
</main>