@page
@model VseVeshi.ru.Pages.CartModel
@{
    ViewData["Title"] = "Корзина";
}
<div class="container mt-5 margin-foter">
    <span class="cart-zag">
        Корзина
    </span>
    <div class="mt-2">
        <div data-id="cart_Place">

        </div>
    </div>
</div>