@page
@model VseVeshi.ru.Pages.CatalogModel
@{
    ViewData["Title"] = "Каталог";
}
<div class="container mt-5 d-flex margin-foter">
    <div class="d-flex flex-column align-items-end w-25">
        <select class="form-select select-date select-all mb-3" aria-label="Default select example">
            <option selected>Дата аренды</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select-cost select-all mb-3" aria-label="Default select example">
            <option selected>Цена</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select-brand select-all mb-3" aria-label="Default select example">
            <option selected>Бренд</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select-color select-all mb-3" aria-label="Default select example">
            <option selected>Цвет</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select-pol select-all mb-3" aria-label="Default select example">
            <option selected>Пол</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="ms-4">
        <div class="f-row row row-cols-3 row-cols-md-3 gap-4 h-100 justify-content-center">
            @foreach(var card in Model.rentItems)
            {
                if (card.catalogs == Model.SelectedCategory)
                {
                    <a asp-area="" asp-page="item" asp-route-Id="@card.Id" class="col card forCard">
                        <img src="@card.img" class="card-img-top imgForCard">
                        <div class="card-body">
                            <div class="card-title">
                                <span class="card-title-font">
                                    <span class="">@card.Price руб.</span>
                                    <span class="card-title-font-days">/@card.Days дня</span>
                                </span>
                            </div>
                            <div class="card-text">
                                <span>@card.Name</span>
                            </div>
                        </div>
                    </a>
                }
            }
            
            
            
            
            
            
        </div>
    </div>
</div>
